:root {

    /* Colours  */

    /* Main color */
    --main-color: #e6e6e6;
    /* Secondary Color */
    --secondary-color: #b6ad7a;
    /* Dark text */
    --text-red: #36151e63;
    /* --text-red: #36151E; */
    /* accent */
    --accent: #FF5E5B;
    --accent50: #ff5e5b50;


    /* font size*/
    --h1-font-size: 3.5rem;
    --h2-font-size: 2.5em;
    --h3-font-size: 2em;
    --h4-font-size: 1.5em;
    --h5-font-size: 1.2em;
    --h6-font-size: 1em;
    --p-font-size: 1em;
    --small-font-size: 0.8em;
    --smaller-font-size: 0.6em;
    --smallest-font-size: 0.4em;


    /* Wrapper */
    --inner-wrapper: 85vw;
}

body {
    font-size: 16px;
    height: 100%;
    font-family: 'Oswald', sans-serif;
}


/* Main Styles */

h1 {
    font-size: var(--h1-font-size);
}

h2 {
    font-size: var(--h2-font-size);

}

h3 {
    font-size: var(--h3-font-size);
}

h4 {
    font-size: var(--h4-font-size);
}

h5 {
    font-size: var(--h5-font-size);
}

h6 {
    font-size: var(--h6-font-size);
}

p {
    font-size: var(--p-font-size);
}

.small {
    font-size: var(--small-font-size);
}

.smaller {
    font-size: var(--smaller-font-size);
}

.smallest {
    font-size: var(--smallest-font-size);
}

body {
    /* background-color: var(--main-color); */
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1447' height='560' preserveAspectRatio='none' viewBox='0 0 1447 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1831%26quot%3b)' fill='none'%3e%3crect width='1447' height='560' x='0' y='0' fill='rgba(55%2c 91%2c 138%2c 1)'%3e%3c/rect%3e%3cpath d='M382 494L610 266' stroke-width='8' stroke='url(%23SvgjsLinearGradient1832)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M923 184L668 439' stroke-width='10' stroke='url(%23SvgjsLinearGradient1832)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1358 75L1153 280' stroke-width='6' stroke='url(%23SvgjsLinearGradient1832)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M387 242L716 -87' stroke-width='10' stroke='url(%23SvgjsLinearGradient1832)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1427 479L1648 258' stroke-width='6' stroke='url(%23SvgjsLinearGradient1832)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1000 270L1238 32' stroke-width='8' stroke='url(%23SvgjsLinearGradient1832)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M743 193L597 339' stroke-width='8' stroke='url(%23SvgjsLinearGradient1833)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M1327 263L1570 20' stroke-width='6' stroke='url(%23SvgjsLinearGradient1833)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M560 12L777 -205' stroke-width='6' stroke='url(%23SvgjsLinearGradient1832)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M751 13L578 186' stroke-width='10' stroke='url(%23SvgjsLinearGradient1832)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M936 86L542 480' stroke-width='8' stroke='url(%23SvgjsLinearGradient1833)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M369 307L535 141' stroke-width='8' stroke='url(%23SvgjsLinearGradient1832)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1146 199L1496 -151' stroke-width='6' stroke='url(%23SvgjsLinearGradient1832)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1000 353L1278 75' stroke-width='10' stroke='url(%23SvgjsLinearGradient1832)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M817 367L584 600' stroke-width='10' stroke='url(%23SvgjsLinearGradient1832)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M363 225L768 -180' stroke-width='8' stroke='url(%23SvgjsLinearGradient1832)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M318 424L620 122' stroke-width='6' stroke='url(%23SvgjsLinearGradient1833)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M15 527L435 107' stroke-width='10' stroke='url(%23SvgjsLinearGradient1832)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M543 424L755 212' stroke-width='6' stroke='url(%23SvgjsLinearGradient1832)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M453 499L609 343' stroke-width='8' stroke='url(%23SvgjsLinearGradient1832)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M514 191L326 379' stroke-width='8' stroke='url(%23SvgjsLinearGradient1832)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M505 16L275 246' stroke-width='10' stroke='url(%23SvgjsLinearGradient1832)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M949 352L656 645' stroke-width='8' stroke='url(%23SvgjsLinearGradient1832)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1025 8L660 373' stroke-width='6' stroke='url(%23SvgjsLinearGradient1833)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M652 335L351 636' stroke-width='6' stroke='url(%23SvgjsLinearGradient1832)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1266 210L1517 -41' stroke-width='10' stroke='url(%23SvgjsLinearGradient1832)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1170 76L1524 -278' stroke-width='8' stroke='url(%23SvgjsLinearGradient1833)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M906 84L1091 -101' stroke-width='6' stroke='url(%23SvgjsLinearGradient1833)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M475 94L669 -100' stroke-width='8' stroke='url(%23SvgjsLinearGradient1832)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M275 503L15 763' stroke-width='10' stroke='url(%23SvgjsLinearGradient1832)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1308 115L1666 -243' stroke-width='10' stroke='url(%23SvgjsLinearGradient1833)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M259 403L556 106' stroke-width='10' stroke='url(%23SvgjsLinearGradient1833)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M371 222L168 425' stroke-width='10' stroke='url(%23SvgjsLinearGradient1832)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M198 157L-21 376' stroke-width='8' stroke='url(%23SvgjsLinearGradient1832)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M589 203L371 421' stroke-width='8' stroke='url(%23SvgjsLinearGradient1832)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M179 216L32 363' stroke-width='6' stroke='url(%23SvgjsLinearGradient1833)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M570 244L882 -68' stroke-width='10' stroke='url(%23SvgjsLinearGradient1833)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M1347 540L1170 717' stroke-width='8' stroke='url(%23SvgjsLinearGradient1833)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M776 98L933 -59' stroke-width='8' stroke='url(%23SvgjsLinearGradient1833)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1831'%3e%3crect width='1447' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='100%25' y1='0%25' x2='0%25' y2='100%25' id='SvgjsLinearGradient1832'%3e%3cstop stop-color='rgba(28%2c 83%2c 142%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='%231c538e' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1833'%3e%3cstop stop-color='rgba(28%2c 83%2c 142%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='%231c538e' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

body * {
    color: white;
}


li {
    list-style-type: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: var(--accent);
}



/****************



Mobile


******************/

/* Utility Classes */
.inner-wrapper {
    margin: 0 auto;
    max-width: var(--inner-wrapper);
}






/* Navigation Bar */

/* Selects each child of nav to add wrapper */

nav {
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 10;
    width: 100%;
    z-index: 100;
}

nav h1 {
    float: left;
    margin: 1em auto;
    color: var(--accent);
    font-size: calc(var(--h2-font-size) - 50%);
}

nav i {
    float: right;
    margin: 1em auto;
    font-size: 2em;
    cursor: pointer;
}

/* Used for javascript to hide menu */
#menu {
    /* display: inline-block; */
    display: none;
}

nav i:hover {
    color: var(--accent);
}

.menu-items {
    /* background-color: black; */
    margin-top: 1em;
    width: 100%;
}

.menu-items ul {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-items ul li {
    display: inline-block;
}

.menu-items ul li i {
    display: inline-block;
}

.menu-items li a {
    font-size: var(--h5-font-size);
}


.menu-items ul li:hover {
    text-decoration: none;
    margin-top: 10px;
    padding-bottom: 14px;
    border-bottom: 3px solid var(--accent);
}

.menu-items ul li a i {
    color: var(--accent);
}

#git:hover {
    color: white;
    border-bottom: 0px solid black;
}


/* Nav above mobile */

@media screen and (min-width: 675px) {
    #menu {
        display: block;
    }
    nav {
        padding: .30rem 0;
    }

    nav div {
        display: flex;
    }

    nav div h1 {
        margin: auto;
        width: 100%;
    }
    nav div h1 a {
        margin: 0;
    }

    .icon {
        display: none;
    }
    .menu-items {
        margin-top: 0;
    }
    .menu-items ul {
        display: flex;
        justify-content: end;
    }

    .menu-items ul li i {
        margin: 0;
    }
    .menu-items ul li {
        margin: 0 auto;
        font-size: var(--h5-font-size);
    }

    #remove-animation {
        display: none;
    }

    nav div h1 {
        margin-right: 10vw;
    }
}


/* Hero section */

.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.hero h2 {
    text-transform: capitalize;
    padding: 0;
}

.hero p {
    font-size: calc(var(--p-font-size) + 40%);
    margin: .60em 0 5em;
    padding: 0;
}

.hero a {
    font-size: var(--h5-font-size);
    padding: 1em 2em;
    border: 2px solid var(--text-red);
    border-radius: 5px;
    color: white;
}

.hero a:hover {
    background-color: var(--accent);
    color: white;
    border: var(--accent);
    margin: 0;
}

.about-container {
    min-height: 100vh;
    padding: 0 0 2em;
    background-color: var(--text-red);

}

.about img {
    width: 100%;
    max-height: 100vh;
    border-radius: 5px;
    margin-bottom: 2rem;
}

.about h2 {
    font-size: calc(var(--h4-font-size) + 50%);
    margin-top: .90em;
    margin-bottom: .50em;
}

.about p:nth-child(1) {
    margin-bottom: .70em;
    font-size: calc(var(--h4-font-size) + 10%);
    color: var(--secondary-color);
    font-weight: 700;
    letter-spacing: 6px;
}

.about p:nth-child(3) {
    color: var(--secondary-color);
    font-size: calc(var(--p-font-size) + 7%);
    font-weight: 200;
    letter-spacing: 1px;
    text-shadow: 1px #423c3c;
}

@media screen and (min-width: 675px) {

    .hero h2 {
        font-size: calc(var(--h2-font-size) + 100%);
        margin: 0;
    }


    .about-container {
        padding: 0;
        background-color: var(--text-red);
    }

    .about {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .about div {
        width: 70%;
        padding: 0 2em;
    }

    .about img {
        max-width: 40vw;
        border-radius: 5px;
        margin-bottom: 0;
    }

    .about h2 {
        font-size: calc(var(--h4-font-size) + 50%);
        margin-top: .90em;
        margin-bottom: .50em;
    }

    .about p:nth-child(1) {
        margin-bottom: .70em;
        font-size: calc(var(--h4-font-size) + 10%);
        color: var(--secondary-color);
        font-weight: 700;
        letter-spacing: 6px;
    }

    .about p:nth-child(3) {
        color: var(--secondary-color);
        font-size: calc(var(--p-font-size) + 7%);
        font-weight: 200;
        letter-spacing: 1px;
        text-shadow: 1px #423c3c;
    }
}


/* My Work */

.work {
    height: 100vh;
    background-color: black;
}

.work h2 {
    font-size: calc(var(--h2-font-size) + 40%);
    margin: 0;
    padding: .5em 0;
    text-align: center;
}

.work-card {
    position: relative;
    background-image: url(/assets/qrcode.png);
    background-repeat: no-repeat;
    background-size:cover;
    height: 40vh;
    display: flex;
    flex-direction: column;
}

.work-card * {
    color: black;
}

.work-card .date {
    position: absolute;
    bottom: 4px;
    right: 1px;
    font-size: var(--h6-font-size);
    color: var(--secondary-color);
    font-weight: 400;
    letter-spacing: 6px;
    align-self: flex-end;
    justify-self: end;

}



.work-card ul{
    position: absolute;
    bottom: 4px;
    left: 1px;
    display: flex;
}
.work-card li {
    text-align: center;
    border-right: 2px black solid;
    margin: 0 5px;
    padding: 0 7px;
    list-style: none;
}

.work-card li:last-child {
    border-right: none;
}

.work-card li: hover {
    color:grey;
}












/***********************

Animations

**********************/

/* ----------------------------------------------
 * Generated by Animista on 2023-1-16 9:24:18
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

.bounce-in-top {
    animation: tracking-in-expand-fwd 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.load-blink {
    animation: 1s .57s ease-in both;
}


@keyframes tracking-in-expand-fwd {
    0% {
        letter-spacing: -0.5em;
        transform: translateZ(-700px);
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        transform: translateZ(0);
        opacity: 1;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}