:root {

    /* Colours  */

    /* Main color */
    --main-color: #e6e6e6;
    /* Secondary Color */
    --secondary-color: #FFF3B0;
    /* Dark text */
    --text-red: #36151E;
    /* accent */
    --accent: #FF5E5B;


    /* font size*/
    --h1-font-size: 3.5rem;
    --h2-font-size: 2.5em;
    --h3-font-size: 2em;
    --h4-font-size: 1.5em;
    --h5-font-size: 1.2em;
    --h6-font-size: 1em;
    --p-font-size: 1em;
    --small-font-size: 0.8em;
    --smaller-font-size: 0.6em;
    --smallest-font-size: 0.4em;


    /* Wrapper */
    --inner-wrapper: 85vw;
}

body {
    font-size: 16px;
}


/* Main Styles */

h1 {
    font-size: var(--h1-font-size);
}

h2 {
    font-size: var(--h2-font-size);

}

h3 {
    font-size: var(--h3-font-size);
}

h4 {
    font-size: var(--h4-font-size);
}

h5 {
    font-size: var(--h5-font-size);
}

h6 {
    font-size: var(--h6-font-size);
}

p {
    font-size: var(--p-font-size);
}

.small {
    font-size: var(--small-font-size);
}

.smaller {
    font-size: var(--smaller-font-size);
}

.smallest {
    font-size: var(--smallest-font-size);
}

body {
    /* background-color: var(--main-color); */
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1447' height='560' preserveAspectRatio='none' viewBox='0 0 1447 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1831%26quot%3b)' fill='none'%3e%3crect width='1447' height='560' x='0' y='0' fill='rgba(55%2c 91%2c 138%2c 1)'%3e%3c/rect%3e%3cpath d='M382 494L610 266' stroke-width='8' stroke='url(%23SvgjsLinearGradient1832)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M923 184L668 439' stroke-width='10' stroke='url(%23SvgjsLinearGradient1832)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1358 75L1153 280' stroke-width='6' stroke='url(%23SvgjsLinearGradient1832)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M387 242L716 -87' stroke-width='10' stroke='url(%23SvgjsLinearGradient1832)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1427 479L1648 258' stroke-width='6' stroke='url(%23SvgjsLinearGradient1832)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1000 270L1238 32' stroke-width='8' stroke='url(%23SvgjsLinearGradient1832)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M743 193L597 339' stroke-width='8' stroke='url(%23SvgjsLinearGradient1833)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M1327 263L1570 20' stroke-width='6' stroke='url(%23SvgjsLinearGradient1833)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M560 12L777 -205' stroke-width='6' stroke='url(%23SvgjsLinearGradient1832)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M751 13L578 186' stroke-width='10' stroke='url(%23SvgjsLinearGradient1832)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M936 86L542 480' stroke-width='8' stroke='url(%23SvgjsLinearGradient1833)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M369 307L535 141' stroke-width='8' stroke='url(%23SvgjsLinearGradient1832)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1146 199L1496 -151' stroke-width='6' stroke='url(%23SvgjsLinearGradient1832)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1000 353L1278 75' stroke-width='10' stroke='url(%23SvgjsLinearGradient1832)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M817 367L584 600' stroke-width='10' stroke='url(%23SvgjsLinearGradient1832)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M363 225L768 -180' stroke-width='8' stroke='url(%23SvgjsLinearGradient1832)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M318 424L620 122' stroke-width='6' stroke='url(%23SvgjsLinearGradient1833)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M15 527L435 107' stroke-width='10' stroke='url(%23SvgjsLinearGradient1832)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M543 424L755 212' stroke-width='6' stroke='url(%23SvgjsLinearGradient1832)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M453 499L609 343' stroke-width='8' stroke='url(%23SvgjsLinearGradient1832)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M514 191L326 379' stroke-width='8' stroke='url(%23SvgjsLinearGradient1832)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M505 16L275 246' stroke-width='10' stroke='url(%23SvgjsLinearGradient1832)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M949 352L656 645' stroke-width='8' stroke='url(%23SvgjsLinearGradient1832)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1025 8L660 373' stroke-width='6' stroke='url(%23SvgjsLinearGradient1833)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M652 335L351 636' stroke-width='6' stroke='url(%23SvgjsLinearGradient1832)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1266 210L1517 -41' stroke-width='10' stroke='url(%23SvgjsLinearGradient1832)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1170 76L1524 -278' stroke-width='8' stroke='url(%23SvgjsLinearGradient1833)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M906 84L1091 -101' stroke-width='6' stroke='url(%23SvgjsLinearGradient1833)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M475 94L669 -100' stroke-width='8' stroke='url(%23SvgjsLinearGradient1832)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M275 503L15 763' stroke-width='10' stroke='url(%23SvgjsLinearGradient1832)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1308 115L1666 -243' stroke-width='10' stroke='url(%23SvgjsLinearGradient1833)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M259 403L556 106' stroke-width='10' stroke='url(%23SvgjsLinearGradient1833)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M371 222L168 425' stroke-width='10' stroke='url(%23SvgjsLinearGradient1832)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M198 157L-21 376' stroke-width='8' stroke='url(%23SvgjsLinearGradient1832)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M589 203L371 421' stroke-width='8' stroke='url(%23SvgjsLinearGradient1832)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M179 216L32 363' stroke-width='6' stroke='url(%23SvgjsLinearGradient1833)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M570 244L882 -68' stroke-width='10' stroke='url(%23SvgjsLinearGradient1833)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M1347 540L1170 717' stroke-width='8' stroke='url(%23SvgjsLinearGradient1833)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M776 98L933 -59' stroke-width='8' stroke='url(%23SvgjsLinearGradient1833)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1831'%3e%3crect width='1447' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='100%25' y1='0%25' x2='0%25' y2='100%25' id='SvgjsLinearGradient1832'%3e%3cstop stop-color='rgba(28%2c 83%2c 142%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='%231c538e' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1833'%3e%3cstop stop-color='rgba(28%2c 83%2c 142%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='%231c538e' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

body * {
    color: white;
}

html,
body {
    margin: 0px;
    height: 100%;
}


li {
    list-style-type: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: var(--accent);
}



/****************



Mobile


******************/

/* Utility Classes */
.inner-wrapper {
    margin: 0 auto;
    max-width: var(--inner-wrapper);
}






/* Navigation Bar */

/* Selects each child of nav to add wrapper */

nav {
    padding: 0 ;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

nav h1 {
    float: left;
    margin: .50em auto;
    color: var(--accent);
    font-size: calc(var(--h2-font-size) - 50%);
}

nav i {
    float: right;
    margin: .50em auto;
    font-size: 2em;
    cursor: pointer;

}

/* Used for javascript to hide menu */
#menu {
    /* display: inline-block; */
    display: none;
}

nav i:hover {
    color: var(--accent);
}

.menu-items {
    /* background-color: black; */
    margin-top: 1em;
    width: 100%;
}

.menu-items ul {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-items ul li {
    display: inline-block;
}
.menu-items ul li i {
    display: inline-block;
}
.menu-items li a {
    font-size: var(--h5-font-size);
}





.menu-items ul li a:hover {
    text-decoration: none;
    padding-bottom: 10px;
    border-bottom: 3px solid var(--accent);
}

.menu-items ul li a i {
    color: var(--accent);
}

.menu-items ul li a i:hover {
    color: white;
    transform: scale(1.10) ease-in-out 2s;
}


/* Nav above mobile */

@media screen and (min-width: 700px) {
    #menu {
        display: block;
    }

    .icon {
        display: none;
    }

}


/* Hero section */

.hero {
    height: 99vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 0 1em;
    position: sticky;
}

.hero h2 {
    text-transform: capitalize;
    font-size: calc(var(--h1-font-size) + 25%);
    margin: 0;
    padding: 0;
}

.hero p {
    font-size: calc(var(--p-font-size) + 40%);
    margin: .60em 0 5em;
    padding: 0;
}

.hero a {
    font-size: var(--h5-font-size);
    padding: 1em 2em;
    border: 2px solid var(--accent);
    border-radius: 5px;
    color: var(--accent);
}

.hero a:hover {
    background-color: var(--accent);
    color: white;
    margin: 0;
}

.about {
    padding: 2em 0;
}

.about img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}






/***********************

Animations

**********************/

/* ----------------------------------------------
 * Generated by Animista on 2023-1-16 9:24:18
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

.bounce-in-top {
    animation: tracking-in-expand-fwd 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.load-blink {
    animation: appear 1s .57s ease-in both;
}


@keyframes tracking-in-expand-fwd {
    0% {
        letter-spacing: -0.5em;
        transform: translateZ(-700px);
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        transform: translateZ(0);
        opacity: 1;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}